#details {
	width: 500px;
}

#progress-bar {
	margin: 10px 0;
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

#progress-bar > span {
	width: 0;
	display: block;
	height: 100%;
	border-radius: 8px;
	background-color: rgb(43,194,83);
	background-image: linear-gradient(
	center bottom,
	rgb(43,194,83) 37%,
	rgb(84,240,84) 69%
	);
	box-shadow:
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

#progress-bar > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: linear-gradient(
	-45deg,
	rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent
	);
	z-index: 1;
	background-size: 50px 50px;
	animation: move 2s linear infinite;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}
