html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
}

@font-face {
        font-family: 'Pacifico';
        font-style: normal;
        font-weight: 400;
        src: local('Pacifico Regular'), local('Pacifico-Regular'), url(Pacifico.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+
        2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#main-title {
	font-family: 'Pacifico', cursive;
	margin-top: 20px;
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: bold;
        color: #1f4a4d;
	display: inline-block;
}

h1,h2,h3 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}

input[type="text"] {
	width: 100%;
	margin: 10px 0;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#input-form {
        margin: 0 10px;
}

#status {
	font-family: monospace;
	overflow: auto;
	border: 1px solid #aaa;
	margin: 10px 0;
	padding: 10px;
	white-space: pre-wrap;
	height: 10px;

	/*Transition time is increased to accomodate the height */
        transition: height 0.2s linear;
}
#status.expand {
	height: 200px;
}

label {
	font-weight: bold;
	margin: 0 10px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#footer {
	margin-top: 40px;
	font-size: 0.8em;
	border-top: 1px #ddd solid;
	padding: 10px;
}

.button {
	background: linear-gradient(to bottom, #e5e5e5 0%,#a4a4a4 100%);
	font-weight: normal;
	color: #505050;
	text-shadow: 0px 1px 0px #FFF;
	border-radius: 2px;
	border: 1px solid #ccc;
	cursor: pointer;
}

#go-button {
	font-size: 1.2em;
	width: 200px;
	height: 50px;
	padding: 4px 12px;
	margin: 0;
}

#url {
	height: 50px;
}

#output {
	margin: 10px 0;
	padding: 10px;
	display: none;
}

#playa {
	display: none;
	margin: 20px auto;
}

#spinner {
	display: none;
}

#details {
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	margin: 20px 0;
	background-color: #eee;
	overflow: hidden;
	text-overflow: ellipsis;
}

#details label {
	width: 20%;
	display: inline-block;
	text-align: right;
}

#progress-bar {
	margin: 10px 0;
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	color: #fff;
	font-weight: bold;
}

#progress-bar > span {
	width: 1%;
	display: block;
	height: 100%;
	border-radius: 8px;
	background-color: rgb(43,194,83);
	background-image: linear-gradient(
	center bottom,
	rgb(43,194,83) 37%,
	rgb(84,240,84) 69%
	);
	box-shadow:
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

#progress-bar > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: linear-gradient(
	-45deg,
	rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent
	);
	z-index: 1;
	background-size: 50px 50px;
	animation: move 2s linear infinite;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

#ws-status-light {
	/* display: block; */
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 10px auto;
}

#ws-status-light.off {
	background-color: rgb(226,0,0);
	transform: scale(1);
}

#ws-status-light.on {
	background-color: rgb(0, 183, 20);
	animation-name: pulse;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

#recent {
	display: none;
	margin: 20px auto;
	padding: 10px;
	position: relative;
}

#recent_header {
	margin: 0 0 20px 0;
}

#recent_header .heading {
	font-weight: bold;
}

#recent_header .controls {
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}
#recent_header .controls svg {
	width: 20px;
	height: 20px;
	fill: #c22a2a;
}

.recent_url {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

.recent_url span {
	display: inline-block;
	margin: 0 5px;
}

.recent_url.selected {
	background-color: #ffead3;
}

.media_meta {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: left;
}

.media_artist {
  font-size: 90%;
  color: #555;
}

.stream_play svg {
	height: 30px;
	width: 30px;
	fill: #1f8673;
}

@media (max-width: 800px) {
	#recent {
		margin: 0 auto;
	}
	#playa {
		margin: 0;
	}
}

@keyframes pulse {
	0% { background-color: rgba(0, 183, 20, 1); }
	50% {
		background-color: rgba(0, 255, 20,0);
		box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 1px 1px rgba(0, 255, 40, 0.5);
	}
	100% { background-color: rgba(0, 183, 20, 1); }
}

#searchbox {
        position: relative;
}
#searchbox span {
	position: absolute;
	display: block;
	right: 3px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #fff;
	background-color: #ccc;
	font: 18px monospace;
	text-align: center;
	line-height: 1.5em;
	cursor: pointer;
	top: calc(50% - 15px);
	font-weight: bold;
}
#searchbox input {
        padding-right: 18px;
        box-sizing: border-box;
}
